@page "/Consulta"
@using RegistroProductosDetalles.Entidades

<PageTitle>Consulta</PageTitle>

<EditForm Model="lista">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h3>Consulta de productos</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="input-group d-flex align-items-end">
                    <select class="form-control col-2" @bind="Filtro">
                        <option value="0">Todos</option>
                        <option value="1">Id</option>
                        <option value="2">Descripción</option>
                    </select>

                 
                    <input type="text" class="form-control" @bind="Criterio"/>
                    

                    <button type="button"class="btn btn-primary" @onclick="Buscar">
                        <span class="oi oi-magnifying-glass mr-2"/>
                    </button>
                </div>
                
            </form>
        </div>
        <table class="table table-secondary">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>Id</th>
                    <th>Descripción</th>
                    <th>Costo $</th>
                    <th>Ganancia %</th>
                    <th>Precio $</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.ProductoId</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Costo</td>
                        <td>@item.Ganancia</td>
                        <td>@item.Precio</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

@code {

    public string Filtro {get; set;}
    public string Criterio {get; set;}
    public List<Productos> lista {get; set;} = new List<Productos>();
    private void Buscar()
    {
        lista = new List<Productos>();
        if(Criterio != null)
        {
            switch(Filtro)
            {
                case "0":
                    lista = ProductosBLL.GetLista();
                    break;
                case "1":
                    lista = ProductosBLL.GetLista(p => p.ProductoId == Convert.ToInt32(Criterio));
                    break;
                case "2": 
                    lista = ProductosBLL.GetLista(p => p.Descripcion.ToLower() == Criterio.ToLower());
                    break;
            }
        }    
        else
        {
            lista = ProductosBLL.GetLista(p => true);

        }

    }   
}
